*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root{

    h1{
        font-size: 2.986em;
        line-height: 1.65;
        font-weight: 600;
        color: #fff;
        font-family: "Inter", sans-serif;
    }

    h2{
        font-size: 2.88rem;
        line-height: 1.65;
        font-weight: 500;
        text-align: left;
        color: #fff;
        font-family: "Inter", sans-serif;
        
    }


    h3{
        font-size: 2.074rem;
        line-height: 1.65;
        font-weight: 400;
        color: #fff;
        font-family: "Inter", sans-serif;
    }

    h4{
        font-size: 1.728rem;
        line-height: 1.65;
        color: #fff;
        font-family: "Inter", sans-serif;
    }

    h5{
        font-size: 1.44rem;
        line-height: 1.65;
        color: #fff;
        font-family: "Inter", sans-serif;
    }

    h6{
        font-size: 1.2rem;
        line-height: 1.65;
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }

    p{
        font-size: 1rem;
        line-height: 1.65;
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }

    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
background-color: #000000;
height: 100%;
}

.header{
background-color: #000000;
box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 3rem;
    
}




.nav-link {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center; /* Align text and arrow vertically */
    gap: 3px; /* Reduce gap between text and arrow */
  }

  .nav-item {
    margin-left: 3rem;
    
    }

    .nav-item-2 {
        margin-left: 3rem;
        width: auto; /* Remove fixed width to prevent uneven spacing */
      }
    
    
    
    .nav-item-2:hover img {
        transform: rotate(44.5deg); /* Rotate arrow 90 degrees */
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1)); /* Add a subtle white glow */
    }
  
  .nav-item-2 img {
    width: 10px; /* Adjust arrow size as needed */
    height: auto;
    margin: 0; /* Remove any extra spacing */
    padding: 0; /* Remove padding */
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth hover effect */
  }
  


  
  .nav-link::before {
    transition: 600ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #fff;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 20px;
  }
  .nav-link-ltr-1::before {
    width: 0%;
    bottom: 20px;
  }
  
  .nav-link-ltr:hover::before {
    width: 3.5%;
  }
  .nav-link-ltr-1:hover::before {
    width: 4.5%;
  }

.nav-link:hover{
    color: #BCBCBC;
}

.nav-logo img{
height: 70px;
width: auto;
}
.nav-logo{
display: flex;
}

.nav-text{
display: flex;
justify-content: center;
flex-direction: column;
}
.nav-text h6{
    font-size: 14px;
    text-align: left;
    font-weight: 450;
    color: #ffffff;
}
.nav-text p{
    color: #a0a0a0;
    text-align: left;
    font-size: 11px;
}




  .neonText {
 width: 100%;
 padding-top: 6rem;
}



.highlight {
    font-weight: bold; /* Make the text bold */
    text-decoration: underline; /* Underline the text */
    color: inherit; /* Keep the text color consistent with surrounding text */
}
.ban-bold span{
font-weight: 600;
}

  @keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}


 /*  This is the loading text animation on the home screen*/

.text-focus-in {
	-webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  


.banner{
    height: 700px;
    padding-top: 150px;
    width: auto;
    
}



.banner h4{
    text-align: left;
    font-size: 2.7rem;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    padding-left: 150px;
    width: 90%;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.neonText-video{
display: flex;
justify-content: center;
}

.banner p{
color: #ffffff;
text-align: center;
padding-bottom: 20px;
}

 h3 span{
    color: #000;
    text-align: center;
    font-style: bold;
    font-weight: 400;
    font-size: 5rem;
    font-family: "DM Serif Display", serif;
    font-style: italic;
    
}

.mainwrapper{
    height: auto;
    width: 100%;
    color: aliceblue;
    padding-top: 100px;
}
.mainwrapper-3{
    
    min-height: 900px;
    color: aliceblue;
    padding-top: 100px;
}

.fade-in-element {
    opacity: 0;
    transition: opacity 3s ease-in;
  }
  
  .fade-in-element.visible {
    opacity: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in-element {
    opacity: 0;
    animation: fadeIn 3s forwards;
  }


/* Preloader styles */
/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Background color for the preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures it appears above all other elements */
    opacity: 1; /* Initially fully visible */
    transition: opacity 0.5s ease; /* Smooth fade-out over 0.5 seconds */
}

/* Preloader video styles */
.preloader-video {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

  /* ABOUT ME AND DETAILS------------> */

  .what-is-about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: start;
    padding-bottom: 30px;
    }
    
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 1 / 2 / 2 / 3; }



.what-is-about-1 h1{
    text-align: left;
    padding: 150px 0 0 70px;
}
.what-is-about-1 p{
    color: #989898;
    width: 90%;
}
.what-is-about-1 span{
    color: #ffffff;
    padding-left: 70px;
}
.what-is-about-1 img{
    height: auto !important;
    width: 150px !important;
    padding-left: 70px;
}
.what-is-about-2 img{
    height: auto;
    width: 60% !important;
    padding: 120px 30px 0 30px;
   margin-left: 100px;
}

.what-is-about-1 p{
    padding: 10px 0 0 70px !important;
}

#line{
    display: flex;
    justify-content: center;
}

.separator {
    height: 1px;
    width: 100%; /* Thickness of the line */
    background-color: #333333;
    padding: 0px 30px; 
    margin: 0rem 0rem 2rem 0rem; 
}

.experience {
    padding: 1rem 2.5rem;
    background-color: #000000; /* Matches the dark background */
    color: #ffffff; /* Light text on dark background */
}

.experience-item {
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Align left and right */
    align-items: flex-start; /* Align items at the top */
    margin-bottom: 2rem;
}

.work-experience-title {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Vertically centers the items */
    gap: 10px; /* Adds space between the dot and the text */
    margin-bottom: 1.5rem; /* Space below the title */
    padding-left: 70px;
}

.work-experience-title img {
    width: 12px !important; /* Adjust dot size */
    height: auto;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6)) 
            drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); /* Glow effect */
}

.experience-title {
    font-size: 0.8rem; /* Adjust size as needed */
    font-weight: 250; /* Semi-bold */
    letter-spacing: 0.2px; /* Adds spacing between letters */
    color: #989898 !important; /* Text color */
    text-align: left; /* Aligns text to the left */
    margin: 0; /* Removes default paragraph margin */
}



.company h2 {
    padding-left: 30px;
}

.details {
    max-width: 40%; /* Limit width for better readability */
    text-align: left;
    padding-right: 30px;
     /* Ensure proper alignment */
}

.details .position {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.details .dates {
    font-size: 0.9rem;
    color: #989898; /* Lighter text for dates */
    margin: 0.5rem 0;
}

.details .description {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #989898; /* Improve readability */
}





.abstract{
    text-align: left;
}

.abstract-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    justify-content: end;
    justify-items: center;
    align-items: stretch;
    padding-top: 100px;
    }
    
    .abstract-2 { grid-area: 1 / 1 / 2 / 2; }
    .abstract-3 { grid-area: 1 / 2 / 2 / 3; }
    .abstract-4 { grid-area: 2 / 2 / 3 / 3; }
    .abstract-5 { grid-area: 2 / 1 / 3 / 2; }
    
    


.abstract p{
    margin-top: 20px;
    color: #989898;

}

.abstract-2 img{
    height: 60%;
    width: auto;
    
}
.abstract-3 img{
    height: 80%;
    width: auto;
    padding-top: 120px; 
}

.abstract-3 p{
width: 80%;
}



header{
position: fixed;
z-index: 300;
width: 100%;
}
  

.work-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    grid-gap: 3.5rem;
}

.work-1 { grid-area: 1 / 1 / 2 / 2; }
.work-2 { grid-area: 1 / 2 / 2 / 3; }

.work-1, .work-2{
    height: 150px;
    width: 150px;
    background-color: var(--light-gray);
    border-radius: .625rem;
    box-shadow: inset 0 4px 12.8px 2px #61616177;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-1{
    position: absolute;
    top: 157px;
}
.text-2{
    position: absolute;
    left: 36%;
    top: 157px;
}

/* This is the Start of The Branding Page Section  */
 
.bl-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    padding: 0 10px 0px 10px;
    border-radius: 0; 
    }
    
    
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }



.image{
    width: auto;
    position: relative;

}

.image img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 0px;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 0px;

}

.content:hover{
    opacity: 1;
}

.content h6{
    margin-bottom: 5px;
    font-weight: 550;
}
.content p{
    margin-bottom: 5px;
    font-weight: 200;
}

/* This is the contact section of the page  */

.fade-in {
	-webkit-animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.contact-text{ 
padding-top: 100px;
display: flex;
justify-content: center;
}

.mainwrapper-2{
padding: 40px 0 0px 0;
display: flex;
justify-content: center;
}
.mainwrapper-2 img{
width: 100%;
height: auto;
}

  .container{
    max-width: 700px !important;
    padding: 25px 40px 120px 40px;
    background: rgba(82, 82, 82, 0.1);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(13.7px);
   -webkit-backdrop-filter: blur(13.7px);
   border: 1px solid rgba(219, 219, 219, 0.32);
    border-radius: 10px;
  }
  .container .text{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 30px 0 0 0;
    
    
  }
  .container form .form-row{
    display: flex;
    margin: 52px 0;
    
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    color: #ffffff;
    
    
  }
  form .form-row .textarea{
    height: 70px;
    
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    background-color: #00000000;
    border-color: #fff;
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-30px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #ffffff00;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: rgba(82, 82, 82, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.7px);
    -webkit-backdrop-filter: blur(13.7px);
    transition: all 0.4s;
  }
  
  .submit-btn .input-data:hover .inner{
    left: 0;
    
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  

  
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }


  /* THIS IS THE PORTOFLIO PAGES SECTION OF THE PAGE!!!!!!------->  */
/* This is the Work Page Section for Branding */

.space-breaker{
width: 100%;
margin: 3rem;
}

.back-home{
   display: flex;
   justify-content: center; 
}

.back-home-btn{
   width: 180px; 
   height: 40px;
   background: rgba(82, 82, 82, 0.1);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(13.7px);
   -webkit-backdrop-filter: blur(13.7px);
   border: 1px solid rgba(219, 219, 219, 0.32);
   margin: 20px 0px;
   transition: all 0.3s ease-out;
   color: #fff;
   
   
}

.back-home-btn:hover{
    background-color: #4f4f4f91;
}

.what-is {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 1 / 2 / 2 / 3; }

.what-is span{
    color: #ffffff;
    font-weight: bold;
}

.what-is-1 h1{
    text-align: left;
    padding: 150px 0 0 30px;
}
.what-is-1 p{
    width: 90%;
    color: #989898;
    
}
.what-is-2 img{
    height: auto;
    width: 100%;
    
}

.what-is p{
    padding: 10px 0 0 30px;
}






.brand-wrapper img{
max-width: 100%;
height: auto;
}



.prototype{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
 }
 .prototype img{
     width: 80%;
    padding: 30px 0 30px 0;
 }
 .prototype h1{
     padding: 50px 0 10px 0;
 }
 .prototype h2{
     padding: 50px 0 50px 0;
 }



.what-is-about-1 p{
    padding: 10px 0 0 30px;
}

.challenge-solution ul {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 40px 0 0 70px
}
.challenge-solution img {
    max-height: 800px;
    width: auto;
}
.challenge-solution li {
    width: 40%;
    
}

.challenge-solution p {
    width: 100%;
    text-align: left;
    color: #989898;
}
.challenge-solution-2 h1 {
    width: 100%;
    text-align: left;
  
    padding-left: 122px;
    width: 60%;
}
.challenge-solution-2 p {
    width: 100%;
    text-align: left;
    color: #989898;
    padding-left: 122px;
    width: 60%;
}

.brand-wrapper h4{
    text-align: center;
    padding: 30px 0 0 30px;
}

.development{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:40px;
}


.development img {
    width: 100;
    padding: 20px 122px;
}


.page-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-structure p {
    text-align: center;
    width: 40%;
    padding-top: 10px;
}

.page-structure img{
    width: 90%;
    margin: 50px 0 20px 0;
    

}

.design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px 122px;
    margin: 0px;
}
    
    .dsn-1 { grid-area: 1 / 1 / 2 / 2; }
    .dsn-2 { grid-area: 1 / 2 / 2 / 3; }
    .dsn-3 { grid-area: 2 / 1 / 3 / 2; }
    .dsn-4 { grid-area: 2 / 2 / 3 / 3; }

.design img{
    width: 100%
}

.design-2{
display: flex;
gap: .625rem;
justify-content: center;
padding: 20px 122px;
}

.design-2 img{
    width: 100%;
    height: auto;
}



.dssn-1 img{
min-height: 100%;
width: auto;
object-fit: cover;
}
.dssn-2 img{
max-height: auto;
width: 100%;

}
.dssn-2 video{
max-height: auto;
width: 100%;
}


.abstract{
    text-align: center;
    margin: 40px 40px 40px 40px;

}
.abstract p{
    margin-top: 20px;

}
.abstract-1 img{
    height: auto;
    width: 600px;
}
.abstract-1 {
    display: flex;
    justify-content: center;
}

/* This is the UX/UI Project Structure */
.what-is-uxui {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 122px;
    margin-top: 32px;
    }
    
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 1 / 2 / 2 / 3; }

.what-is-uxxi span{
    color: #ffffff;
    font-weight: bold;
    
}

.what-is-uxui-1 h1{
    text-align: left;
    padding: 10px 0 0 0px;
    margin-top: 1rem;
}
.what-is-uxui-1 h2 span{
    text-align: left;
    font-weight: 500;
    font-size: 1.8rem;
   
    
}
.what-is-uxui-1 h6{
    text-align: left;
    padding: 5px 0 0 0px;
    
}
.what-is-uxui-1 p{
    width: 90%;
    color: #989898;
    padding: 1px 0 0 0px;
}
.what-is-uxui-2 {
    display: flex;
   justify-content: center;
}
.what-is-uxui-2 img{
    margin: 32px 0;
    height: 250px;
    width: auto;
}
.what-is-uxui-2.bigger img{
    margin: 32px 0;
    height: auto;
    width: auto;
    margin-right: 50px;
}

.uxui-work{
margin-top: 2rem;
padding: 0 122px;
}

.uxui-work h1{
    text-align: left;
    padding: 10px 0 0 0px;
    margin-top: 6rem;
}
.uxui-work p{
    text-align: left;
    padding: 10px 0 0 0px;
    margin-top: 2rem;
    width: 63%;
}

.development-uxui img {
    width: 90%;
    padding: 20px 0px;
}

.uxui-prototype{
display: flex;
width: 100%;
}

.mini-nav {
  position: fixed;
  top: 20%;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.mini-nav.active {
  opacity: 1;
  visibility: visible;
}
  
  .mini-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  
  .mini-nav ul li {
    margin-bottom: 10px;
    
  }
  
  .mini-nav ul li a {
    color: #989898;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 200;
    transition: color 0.3s ease;
  }
  
  .mini-nav ul li a:hover {
    color: #fff; /* Highlight color on hover */
  }

  .mini-nav ul li a.active {
    color: #fff;
    text-decoration: underline;
  }



/* This is the fade in animation of the page  */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.uxui-prototype {
    display: block;
}

.uxui-prototype-2 {
    display: none;
}

.uxui-prototype-link{
    padding: 10px 0 0 0px;
    margin-top: 2rem;
}
.uxui-prototype-link a{
    color: #009FFD;
    text-decoration: underline;
}




/* This is the footer section of the page  */



footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .625rem;
    background-color: black; /* Adjust as needed */
    color: white;
    box-shadow: 10px 0 0px rgba(0,0,0,.09);
  }
footer h6{
    font-size: .9rem !important;
    font-weight: 300;
    color: #ffffff !important;
}
footer p{
    font-size: .6rem !important;
    font-weight: 300;
    color: #ffffff !important;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: #ffffff;
        border: none;
        width: 50px;
    }

    

    .nav-menu.active{
        background-color: #ffffff;
    }
    .nav-item-2 {
        display: flex; /* Ensures the text and arrow align correctly */
        align-items: center;
        width: auto; /* Add space between the text and the arrow */
        padding: 1rem;
        text-align: center;
        margin: 2.5rem 0; 
        /* Add consistent padding for the list item */
    }
    
    .nav-item-2 img {
        display: none; /* This hides the arrow on mobile screens */
    }
    
    .nav-item {
        padding: 1rem; /* Add consistent padding for all nav items */
    }
    .bar{
        background-color: #000000;
    }

    .neonText-video img {
        width: 70px !important; /* Resize video on mobile */
    }
    .neonText-video video {
        width: 70px !important; /* Resize video on mobile */
    }
    

    


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bl-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 0px;
        padding: 0 0px 0px 0px;
       
        
       
        
    }

    .what-is {
        display: grid;
        grid-template-columns: 1fr;
       
        grid-column-gap: 0px;
        grid-row-gap: 40px;
    }
        
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 2 / 1 / 3 / 2; }

    .what-is-1 h1{
        text-align: left;
        padding: 80px 0 0 30px;
    }

    
            

   

    .challenge-solution{
    text-align: center;
    }
            
    .challenge-solution h2 {
        font-size: 1.44rem;
        text-align: left;
        color: #ffffff !important;
    }

  

    .brand-wrapper img {
        margin: 0px 0 0 0;
        border-radius: 0px 0px 0px 0px !important;

        
    }

    .page-structure p{
        width: 100%;
    
    }

   


    .development h1{
        padding-bottom: 0px;
        text-align: center;
        font-size: 2.5rem;
    }
    .development p{
        padding-top: 30px;
        text-align: center;
        width: 80%;
    }
    .development img{
       margin: 0;
       padding-bottom: 0px;
       
    }

    .what-is-about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 60px;
    }
        
    .what-is-about-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-about-2 { grid-area: 2 / 1 / 3 / 2; }
    
    
    
    
    .what-is-about-1 h1{
        text-align: left;
        padding: 120px 0 0 30px;
    }
    .what-is-about-1 p{
        width: 90%;
    }
  
    
    .what-is-about-1 p{
        padding: 10px 0 0 30px;
    }

    .experience-item {
        flex-direction: column; /* Stack items vertically */
        gap: 1rem; /* Add spacing between stacked items */
    }
    .details {
        max-width: 100%;
        padding-left: 30px; /* Use full width on smaller screens */
    }

   

    .prototype h1 {
        padding: 10px 0 10px 0;
        text-align: center;
        color: #000 !important;
    }

    .prototype h2 {
        padding: 10px 0 10px 0;
        color: #000 !important;
    }

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    h1{
        font-size: 2.986em;
        line-height: 1.65;
        font-weight: 600;
        color: #000000;
        font-family: "Inter", sans-serif;
    }

    h2{
        font-size: 2.488rem;
        line-height: 1.65;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }


    h3{
        font-size: 2.074rem;
        line-height: 1.65;
        font-weight: 400;
        color: #000000;
        font-family: "Inter", sans-serif;
    }

    h4{
        font-size: 1.728rem;
        line-height: 1.65;
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }

    h5{
        font-size: 1.44rem;
        line-height: 1.65;
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }

    h6{
        font-size: 1.2rem;
        line-height: 1.65;
        color: #ffffff;
        font-family: "Inter", sans-serif;
    }

    p{
        font-size: 1rem;
        line-height: 1.65;
        color: #ffffff;
        font-family: "Inter", sans-serif; 
    }

    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    background-color: #000000;
}

.header{
    background-color: #050505;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;   
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease-out;
}

  
  .nav-link::before {
    transition: 600ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ededed;
}
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 20px;
}
  .nav-link-ltr-1::before {
    width: 0%;
    bottom: 20px;
}
  
  .nav-link-ltr:hover::before {
    width: 3.5%;
}
  .nav-link-ltr-1:hover::before {
    width: 4.5%;
}

.nav-link:hover{
    color: #BCBCBC;
}

.nav-logo img{
    height: 70px;
    width: auto;
}
.nav-logo{
    display: flex;
}

.nav-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nav-text h6{
    font-size: 14px;
    text-align: left;
    font-weight: 450;
}
.nav-text p{
    color: #bbbbbb;
    text-align: left;
    font-size: 11px;
}

.ban-bold span{
    font-weight: 600;
}

  @keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  



.banner h3{
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 30px;
    line-height: 90px;
    font-family: "Poppins", sans-serif;
}
.banner h4{
    text-align: left !important;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    width: 100%;
    padding-left: 45px !important;
}
.banner p{
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}


.mainwrapper{
    height: auto;
    width: 100%;
    color: aliceblue;
    padding-top: 100px;
}




  /* ABOUT ME AND DETAILS------------> */

.what-is-about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: start;
    padding-bottom: 30px;
}
    
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 1 / 2 / 2 / 3; }



.what-is-about-1 h1{
    text-align: left;
    padding: 150px 0 0 30px;
    color: #ffffff;
}
.what-is-about-1 p{
    color: #989898;
    width: 90%;
}
.what-is-about-1 span{
    color: #ffffff !important;
    width: 90%;
}
.what-is-about-2 img{
    height: auto;
    width: 100% !important;
    padding: 0px 30px 0 30px;
    margin: 0px;
    
    
}

.what-is-about-1 p{
    padding: 10px 0 0 30px;
}



.abstract{
    text-align: left;
}

.abstract-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    justify-content: end;
    justify-items: center;
    align-items: stretch;
    padding-top: 100px;
}
    
    .abstract-2 { grid-area: 1 / 1 / 2 / 2; }
    .abstract-3 { grid-area: 1 / 2 / 2 / 3; }
    .abstract-4 { grid-area: 2 / 2 / 3 / 3; }
    .abstract-5 { grid-area: 2 / 1 / 3 / 2; }
    
    


.abstract p{
    margin-top: 20px;
    color: #bbbbbb;

}

.abstract-2 img{
    height: 60%;
    width: auto;
    
}
.abstract-3 img{
    height: 80%;
    width: auto;
    padding-top: 120px; 
}

.abstract-3 p{
width: 80%;
}



header{
position: fixed;
z-index: 300;
width: 100%;
}
  

.work-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    grid-gap: 3.5rem;
}

.work-1 { grid-area: 1 / 1 / 2 / 2; }
.work-2 { grid-area: 1 / 2 / 2 / 3; }

.work-1, .work-2{
    height: 150px;
    width: 150px;
    background-color: var(--light-gray);
    border-radius: .625rem;
    box-shadow: inset 0 4px 12.8px 2px #61616177;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-1{
    position: absolute;
    top: 157px;
}
.text-2{
    position: absolute;
    left: 36%;
    top: 157px;
}

/* This is the Start of The Branding Page Section  */





 
.bl-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0 10px 0px 10px;
    border-radius: 0; 
}
    
    
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }



.image{
    width: auto;
    position: relative;

}

.image img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 0px;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 0px;

}

.content:hover{
    opacity: 1;
}

.content h6{
    margin-bottom: 5px;
    font-weight: 500;
}

/* This is the contact section of the page  */

.fade-in {
	-webkit-animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.contact-text{ 
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.contact-text h1{ 
    color: #fff;
}



  .container{
    max-width: 700px !important;
    padding: 25px 40px 120px 40px;
    background: rgba(82, 82, 82, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.7px);
    -webkit-backdrop-filter: blur(13.7px);
    border-radius: 10px;
  }
  .container .text{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 30px 0 0 0;
  }

  .container form .form-row{
    display: flex;
    margin: 52px 0;
    
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    color: #ffffff;
    
  }
  form .form-row .textarea{
    height: 70px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-30px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #00000000;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
  

  
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }

  /* This is the UX/UI Project Structure */
.what-is-uxui {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px 40px 10px 40px;
    margin-top: 32px;
    }
    
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 1 / 2 / 2 / 3; }

.what-is-uxxi span{
    color: #ffffff;
    font-weight: bold;
}

.what-is-uxui-1 h1{
    text-align: left;
    padding: 10px 0 0 0px;
    margin-top: 1rem;
    color: #fff;
    
}
.what-is-uxui-1 h2{
    text-align: left;
    padding: 0px 0 0 0px;
    color: #fff;
}
.what-is-uxui-1 h6{
    text-align: left;
    padding: 5px 0 0 0px;
    
}
.what-is-uxui-1 p{
    width: 100%;
    color: #989898;
    padding: 1px 0 0 0px;
}
.what-is-uxui-2 {
    display: flex;
   justify-content: center;
}
.what-is-uxui-2 img{
    margin: 32px 0;
    height: 250px;
    width: 50%;
    display: none;
}

.uxui-work{
margin-top: 2rem;
padding: 0 0px;
}

.uxui-work h1{
    text-align: left;
    padding: 10px 0 0 40px;
    margin-top: 2rem;
    font-size: 2rem;
    color: #fff;
}
.uxui-work p{
    text-align: left;
    padding: 5px 40px 0 40px;
    margin-top: 1rem;
    width: 100%;
    color: #989898;
}

.development-uxui img {
    width: 100%;
    padding: 20px 40px;
}

.uxui-prototype-link{
    padding: 10px 0 0 40px;
}


    .uxui-prototype {
        display: none;
    }

    .uxui-prototype-2 {
        display: block;
    }

    .mini-nav {
        display: none;
      }



iframe{
padding-left: 40px;
}




  /* THIS IS THE PORTOFLIO PAGES SECTION OF THE PAGE!!!!!!------->  */
/* This is the Work Page Section for Branding */

.what-is {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 1 / 2 / 2 / 3; }

.what-is span{
    color: #ffffff;
    font-weight: bold;
}

.what-is-1 h1{
    text-align: left;
    padding: 150px 0 0 30px;
}
.what-is-1 p{
    width: 90%;
    color: #989898;
}
.what-is-2 img{
    height: auto;
    width: 100%;
    margin-top: 20px;
    
}

.what-is p{
    padding: 10px 0 0 30px;
    
}








.brand-wrapper img{
    max-width: 100%;
    height: auto;
}


.prototype{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
 }
 .prototype img{
     width: 80%;
    padding: 30px 0 30px 0;
 }
 .prototype h1{
     padding: 50px 0 10px 0;
 }
 .prototype h2{
     padding: 50px 0 50px 0;
 }

.challenge-solution img {
    max-height: 800px;
    width: auto;
}
.challenge-solution li {
    width: 40%;
    
}

.challenge-solution p {
    width: 100%;
    text-align: center;
    color: #989898;
}

.brand-wrapper h4{
    text-align: center;
    padding: 30px 0 0 30px;
}


.development{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 10px 0 10px;
}


.development img{
    width: 100%;
    padding: .625rem 0 .625rem 0;
}


.page-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-structure p {
    text-align: center;
    width: 40%;
    padding-top: 10px;
}

.page-structure img{
    width: 90%;
    margin: 50px 0 20px 0;
    

}

.design {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    padding: 0px 10px;
    margin: 0px;
    align-items: stretch;
}


    .dsn-1 { grid-area: 1 / 1 / 2 / 2; }
    .dsn-2 { grid-area: 2 / 1 / 3 / 2; }
    .dsn-3 { grid-area: 3 / 1 / 4 / 2; }
    .dsn-4 { grid-area: 4 / 1 / 5 / 2; }
    

.design img{
    height: auto;
    width: 100%;
    padding: 0 !important;
    
   
}
.design-2 {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: flex-start; /* Or stretch */
    padding: 10px 10px 0px 10px;
    flex-wrap: wrap;
     /* Ensures wrapping on small screens */
}


.design-2 img{
    width: 100%;
    height: auto;
    padding-top: none !important;
}


.dssn-1 img{
    max-height: 700px;
    width: 100%;
    padding-top: none !important;
    
}
.dssn-2 img{
    max-height: 700px;
    width: 100%;
}
.dssn-2 video{
    width: 100%;
    max-height: 1290px;
    height: auto;
    object-fit: contain;
}



.abstract{
    text-align: center;
    margin: 40px 40px 40px 40px;

}
.abstract p{
    margin-top: 20px;

}
.abstract-1 img{
    height: auto;
    width: 600px;
}
.abstract-1 {
    display: flex;
    justify-content: center;
}





.row-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row-1 img{
    height: 300px;
    width: auto;
}
.row-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row-2 img{
    height: 300px;
    width: auto;
}



/* This is the fade in animation of the page  */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.bl-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px !important;
    padding: 0 0px 0px 0px;
}

.challenge-solution-2 h1 {
    width: 100%;
    text-align: left !important;
    padding-left: 30px;
    width: 100%;
    color: #fff;
}
.challenge-solution-2 p {
    width: 100%;
    text-align: left !important;
    color: #989898;
    padding-left: 30px;
    width: 60%;
}

/* This is the footer section of the page  */

footer{
    background-color: #000000;
    padding: .625rem;
    text-align: center;
    height: 100%;
    box-shadow: 10px 0 0px rgba(0,0,0,.09);
}
footer h6{
    font-size: .9rem !important;
    font-weight: 300;
}
footer p{
    font-size: .6rem !important;
    font-weight: 300;
}




@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #101010;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: #00000000;
        border: none;
    }

    .nav-menu.active{
        background-color: #111111;
    }
    .bar{
        background-color: #ffffff;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bl-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 0px;
        padding: 0 0px 0px 0px;
       
        
       
        
    }

    .what-is {
        display: grid;
        grid-template-columns: 1fr;
       
        grid-column-gap: 0px;
        grid-row-gap: 40px;
    }
        
    .what-is-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-2 { grid-area: 2 / 1 / 3 / 2; }

    .what-is-1 h1{
        text-align: left;
        padding: 80px 0 0 30px;
    }

    .challenge-solution ul {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            flex-direction: column;
            margin: 0;
            padding: 40px 0 0 40px !important;
    }
   
    .challenge-solution li {
        width: 100%;
        font-size: 13px;
        text-align: left;
        padding: 40px 40px 0px 0px !important;
    }

    .challenge-solution p {
        width: 100%;
        text-align: left;
        padding: 0 0px;
        color: #989898 !important;

    }

   
            
    .challenge-solution h2 {
        font-size: 1.44rem;
        text-align: left;
        
    }

    

    .page-structure p{
        width: 100%;
    
    }

    .development h1{
        padding-bottom: 0px;
        text-align: center;
        font-size: 2.5rem;
    }
    .development p{
        padding-top: 30px;
        text-align: center;
        width: 80%;
    }
  
    .what-is-about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 60px;
    }
        
    .what-is-about-1 { grid-area: 1 / 1 / 2 / 2; }
    .what-is-about-2 { grid-area: 2 / 1 / 3 / 2; }
    
    
    .what-is-about-1 h1{
        text-align: left;
        padding: 120px 0 0 30px;
    }
    .what-is-about-1 p{
        width: 90%;
    }
    
    


    .prototype h1 {
        padding: 10px 0 10px 0;
        text-align: center;
    }

    .prototype h2 {
        padding: 10px 0 10px 0;
    }

    

    .page-structure p {
        text-align: center;
        width: 80%;
        padding-top: 10px;
    }

    .tooltiptext{
    display: none;
    }

   
  
    
    .banner h3{
        text-align: center;
        font-weight: 500;
        font-size: 2.5rem;
        padding-top: 30px;
        line-height: 90px;
        font-family: "Poppins", sans-serif;
    }
  
    .banner p{
        color: #ffffff;
        text-align: center;
        padding-bottom: 20px;
    }
    
     h3 span{
        color: #ffffff;
        text-align: center;
        font-style: bold;
        font-weight: 400;
        font-size: 5rem;
        font-family: "DM Serif Display", serif;
        font-style: italic;
        
    }
    
    .mainwrapper{
        
        height: auto;
        width: 100%;
        color: aliceblue;
        padding-top: 100px;
    }
    
    
    
    /* SOCIAL ICONS OF THE PAGE---------------> */
    
    .socials{
        display: flex;
        justify-content: center;
    }
    

   
    .banner br{
       display: none;
    }
    .neonText span{
        font-size: 1.1rem;
    }

    
    .nav-text{
        display: none;
    }
    

.brand-wrapper img{
    padding-top: 60px;
}





.contact-text {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}





.mainwrapper{
    padding-top: 100px;
}


}
   

    .page-structure p {
        text-align: center;
        width: 80%;
        padding-top: 10px;
    }

    .tooltiptext{
    display: none;
    }

   
    .banner{
        height: 250px;
        padding-top: 150px;
        width: auto;
    }
    
    .banner h3{
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 30px;
    line-height: 90px;
    font-family: "Poppins", sans-serif;
    }
   
    .banner p{
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    }
    
     h3 span{
        color: #000;
        text-align: center;
        font-style: bold;
        font-weight: 400;
        font-size: 5rem;
        font-family: "DM Serif Display", serif;
        font-style: italic;
        
    }
    
    .mainwrapper{
        
        height: auto;
        width: 100%;
        color: aliceblue;
        padding-top: 100px;
    }

    .mainwrapper-2{
        padding: 40px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
    
    .mainwrapper-2 img{
        width: 100%;
        max-height: 1290px;
        height: auto;
        object-fit: contain;   
    
    }
    

    .banner h4{
        font-size: .90rem;
       padding: 0 20px 0 20px;
    }

    .banner br{
       display: none;
    }
   

    .nav-text{
        display: none;
    }
    






.mainwrapper{
    padding-top: 100px;
}


}
